.jumbotron{
    background-color: #BFB300;
    color: black;
    margin-top: 50px;
}

.card-bot{
    flex: 1 200px;    
    margin-top: 10px; 
    justify-content: space-between;
}

.btn-bot{
    width: 100%;
    border-radius: 0px;    
}

.btn-link{
    color: #403C00;
    text-decoration-color: #403C00;
}

.oi-icon{
    padding-right: 5px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color:#BFB300;
    margin-bottom: 0px;
    margin-top: 10px;
}

